#white {
	color: white;
}
#red {
	color: red;
}
#blue {
	color: blue;
}
#green {
	color: green;
}
#purple {
	color: #a700ff;
}
#orange {
	color: #ff9902;

}
#aqua {
	color: aqua;
}
.starter-template {
  padding: 0 !important;
  text-align: center;
}
#home {
	text-align: center;
	color: black;
	width: auto;
	height: auto;
	opacity: .9;
}
.jumbotron {
	background: #5fc2ff;
	color: #434f55;
}
#about {
	background: #5fc2ff;
	opacity: .8;
	font-size: large;
	text-align: center;
	color: #434f55;
	vertical-align: middle;
	padding-top: 20px;
}
#contact {
	background: #5fc2ff;
	opacity: .8;
	font-size: large;
	text-align: center;
	color: #434f55;
	vertical-align: middle;
	padding-top: 20px;

}
#dark-grey {
	background: #565656
	color: white;
}
.past {
}
.present {
}
.future {
}
.panel panel-default {
	background: #ff5e5e;
}
.panel {
	background: #5fc2ff;
}